body {
    text-align: center;
}

.main-header {
    text-align: center;
    background-color: #212529;
    color: white;
    font-family: 'Special Elite';
    font-size: 100px;
}

#list{
    text-align: left;
}

.carousel-item {
    height: 500px;
    position: relative;
}

#form {
    margin-top: 40px;
    
}

#query {
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

#search-button {
    height: 50px;
    border-radius: 10px;
}

#random {
    margin-top: 40px;
    background-color: #212529;
    color: white;
    font-family: 'Special Elite';
}
